DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=db
DB_PORT=5432

SECRET_KEY=your-secret-key

JWT_ACCESS_TOKEN_MINUTES=int
JWT_REFRESH_TOKEN_DAYS=int

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,web

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

BASE_URL=http://web:8000

CELERY_TIMEZONE=<your-timezone>
FLOWER_URL=http://localhost:5555

SERVER_PORT=<your-web-host-port>
REDIS_PORT=<your-redis-host-port>
FLOWER_PORT=<your-flower-host-port>
DB_HOST_PORT=<your-db-hot-port>
DB_CONTAINER_PORT=<your-db-container-port>
REDIS_CONTAINER_PORT=<your-redis-container-port>
FLOWER_CONTAINER_PORT=<your-flower-container-port>
SERVER_CONTAINER_PORT=<your-web-container-port>

POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me 