DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=5432

SECRET_KEY=your-secret-key

JWT_ACCESS_TOKEN_MINUTES=int
JWT_REFRESH_TOKEN_DAYS=int

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

BASE_URL = "http://127.0.0.1:8000"

CELERY_TIMEZONE=<your-timezone>
FLOWER_URL=http://localhost:5555

SERVER_PORT=<your-web-port>
REDIS_PORT=<your-redis-port>
FLOWER_PORT=<your-flower-port>
DB_HOST_PORT=<your-db-port>
DB_CONTAINER_PORT=5432
REDIS_CONTAINER_PORT=6379
FLOWER_CONTAINER_PORT=5555
SERVER_CONTAINER_PORT=8000

POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin123