DB_NAME=ecommerce
DB_USER=postgres
DB_PASSWORD=change-me
DB_HOST=db
DB_PORT=5432

SECRET_KEY=change-me

JWT_ACCESS_TOKEN_MINUTES=60
JWT_REFRESH_TOKEN_DAYS=30

DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,web

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

BASE_URL=http://web:8000

CELERY_TIMEZONE=Asia/Kolkata
FLOWER_URL=http://flower:5555

SERVER_PORT=8000
REDIS_PORT=6379
FLOWER_PORT=5555
DB_HOST_PORT=5432
DB_CONTAINER_PORT=5432
REDIS_CONTAINER_PORT=6379
FLOWER_CONTAINER_PORT=5555
SERVER_CONTAINER_PORT=8000

POSTGRES_DB=ecommerce
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me